<mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input autocomplete="off" formControlName="email" type="email" matInput placeholder="Email">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input autocomplete="off" formControlName="password" type="password" matInput placeholder="password">
            </mat-form-field>
        </p>
        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
        </div>
        <p style="margin-top: 10px;">Dont Have Account? <a (click)="signup()" style="color:blue">Sign Up</a></p>
        <button mat-raised-button color="primary">Login</button>
    </form>
</mat-card>